*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    
    background-color: #00796b;
    text-align: center;
    padding: 20px;

}

h1{
color: white;
font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 10px;
}

p{
    margin: 6px;
}

footer{
background-color: #e0f7fa;
text-align: center;
}

h2{
    color: #004d40;
    padding: 10px;
}

img{
    width: 250px;
}